{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Данный сайт находится в списке нежелательных, поэтому он был заблокирован</h1>
<div class="img-div" style="display: flex;  justify-content: center;">
    <img src="static/img/stop.jpg" style="width: 400px; height: 400px;">
    <img src="static/img/smile.jpg" style="width: 400px; height: 400px;">
</div>
<div style='text-align:center;'><a href="https://www.freepik.com" class="link-secondary">Images designed by Freepik</a></div>
{% endblock %}