{% extends "base.html" %}

{% block content %}

<h3 class="text-center">Поступившие жалобы</h3>
{% if params %}
{% for el in params %}
<div style="margin-left: 5%; margin-right: 5%">
<h5>Жалоба # {{ loop.index }}</h5>
<table class="table text-center">
    <thead class="thead-light">
        <tr class="d-flex table-secondary">
            <th scope="col" class="col-2">Домен</th>
            <th scope="col" class="col">Причина</th>
        </tr>
    </thead>
    <tbody>
        <tr class="d-flex table-primary">
            <td class="col-2">{{ el[0]  }}</td>
            <td class="col">{{ el[1] }}</td>
        </tr>
    </tbody>
</table>
    <div>
        <a href="/ok_complaint/{{ el[0] }}" class="btn btn-success">
            Одобрить
        </a>
        <a href="/delete_complaint/{{ el[0] }}" class="btn btn-danger">
            Отклонить
        </a>
    </div>
    </div>
{% endfor %}
{% else %}
    <h2 class="text-center">Список жалоб пуст!</h2>
{% endif %}
{% endblock %}